// Lists

$text-align-list: left, center, right;

$font-size-list: 10px 16px 32px 64px;

$font-weight-list: 100 400 500 900;

h2 {
  text-align: nth($list: $text-align-list, $n: 1);
  font-size: nth($list: $font-size-list, $n: 3);
  font-weight: nth($list: $font-weight-list, $n: 2);
}